ImmichServerUrl=URL

# Either ApiKey or ApiKeyFile must be specified.
ApiKey=KEY
# ApiKeyFile=/path/to/key

# Timezone for date formatting, if not set, UTC will be used.
TZ=Etc/UTC

# Basic authentication can be added via AuthenticationSecret. It is NOT recommended to expose immichFrame to the public web,
# if you still choose to do so, you can set this to a secure secret. Every client needs to authenticate itself with this secret.
# This can be done in the Webclient via input field or via URL-Parameter. The URL-Parameter will look like this: ?authsecret=[MYSECRET]
# AuthenticationSecret=


# Admin login users are read from these htpasswd-style env vars and used by the /admin login page.
# If not set, the admin login page will be disabled and no admin user will be created.
# The password hash can be generated using the `htpasswd` command line tool, or online tools such as https://www.web2generators.com/apache-tools/htpasswd-generator
# Remember to escape the $ character in the hash with $$ when using in an env file that will be processed by a shell, such as in docker-compose.
# IMMICHFRAME_AUTH_BASIC_ADMIN_USER=admin
# IMMICHFRAME_AUTH_BASIC_ADMIN_HASH=$$apr1$$aefKbZEa$$ZSA5Y3zv9vDQOxr283NGx/

# Configurable options (uncomment and set as needed) or configure via the web interface:
# Interval=10
# TransitionDuration=2
# ImageZoom=true
# ImagePan=false
# PlayAudio: false
# Layout=splitview
# DownloadImages=false
# ShowMemories=false
# ShowFavorites=false
# ShowArchived=false
# ShowVideos: false
# ImagesFromDays=
# ImagesFromDate=
# ImagesUntilDate=
# RenewImagesDuration=30
# Rating=5
# Albums=ALBUM1,ALBUM2
# ExcludedAlbums=ALBUM3,ALBUM4
# People=PERSON1,PERSON2
# Webcalendars=https://calendar.google.com/calendar/ical/XXXXXX/public/basic.ics,https://user:pass@calendar.immichframe.dev/dav/calendars/basic.ics
# RefreshAlbumPeopleInterval=12
# ShowClock=true
# ClockFormat=hh:mm
# ClockDateFormat=eee, MMM d
# ShowProgressBar=true
# ShowPhotoDate=true
# PhotoDateFormat=yyyy-MM-dd
# ShowImageDesc=true
# ShowPeopleDesc=true
# ShowAlbumName=true
# ShowImageLocation=true
# ImageLocationFormat=City,State,Country
# PrimaryColor=#F5DEB3
# SecondaryColor=#000000
# Style=none
# BaseFontSize=17px
# WeatherApiKey=
# ShowWeatherDescription=true
# WeatherIconUrl=https://openweathermap.org/img/wn/{IconId}.png
# UnitSystem=imperial
# WeatherLatLong=
# Language=en
# Webhook=
